.itemSmall {
  cursor: pointer;
  /* background-color: black;
      color: white; */
  border: 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 300px;
  img {
    @include char-img;
  }
}
.itemBig {
  cursor: pointer;
  img {
    @include char-img;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .info {
    @include flex-col-center;
    .link {
      @include link;
    }
    padding-right: 20px;
  }
  @include sm {
    flex-direction: row;
    flex-grow: no wrap;
    justify-content: space-between;
    align-items: center;
  }
  /* max-height: 400px; */
}
