@mixin char-img {
  padding: auto;
  margin: auto;
  width: 200px;
  height: auto;
  border-radius: 10px;
}
@mixin link() {
  padding: 0.8rem;
  font-weight: bold;
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@mixin flex-col-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@mixin btnNoBtn {
  border: none;
  outline: none;
}
@mixin btngroup {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;

  a {
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: white;
    &:visited {
      color: white;
    }
    span {
      padding-right: 0;
      padding-left: 0.4rem;
    }
  }
}

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}
